# Copy this to secrets.toml and fill in your values
# On Streamlit Cloud, add these in the app settings > Secrets

SNOWFLAKE_ACCOUNT = "wnc78555.us-east-1"
SNOWFLAKE_USER = "moloyVaR"
SNOWFLAKE_PASSWORD = "your_password_here"
SNOWFLAKE_WAREHOUSE = "COMPUTE_WH"
SNOWFLAKE_DATABASE = "RISK_MANAGEMENT"
SNOWFLAKE_SCHEMA = "CORE"
KAFKA_BOOTSTRAP_SERVERS = "your_gcp_vm_ip:9092"
